<%= form_with model: property_access, url: admin_property_accesses_path, method: :post, data: { turbo: false }, class: "row g-3" do |f| %>
  <%= f.hidden_field :property_id, value: @property.id %>
  <div class="col-12">
    <div>
      <%= f.select :user_id, options_from_collection_for_select(collaborators, :id, :name), { prompt: "Selecione um colaborador" }, class: "form-control" %>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-between mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>