.sidenav {
  background: white;
  width: 250px;
  height: 100vh;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Empurra a info do usuário para o final

  .user-info-sidebar {
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .notification-btn {
    font-size: 1rem; // Reduz o tamanho do ícone
    padding: 0.3rem 0.5rem;
  }

  @media (min-width: 769px) {
    .user-info-sidebar {
      display: none; // Esconde o usuário no sidenav quando a tela for grande
    }
  }
}

