<div class="container d-flex justify-content-center">
  <div class="card p-3 shadow-sm rounded w-100 mx-auto" style="max-width: 900px; background-color: white;">
    <h3>Editar Propriedade</h3>
    <%= render "form", property: @property %>
  </div>
</div>