<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fs-5">
  <div class="container">
    <%= link_to "Campo+", admin_home_path, class: "navbar-brand", data: { turbo: false } %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to admin_properties_path, class: "nav-link d-flex align-items-center", data: { turbo: false } do %>
            <i class="bi bi-building me-2"></i> Propriedades
          <% end %>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="bi bi-boxes me-2"></i> Módulos
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="bi bi-people me-2"></i> Colaboradores
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Bruno Scheavolin
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= button_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { turbo: false, turbo_method: :delete } %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
